<html>
	<body>
		{{if eq .Code 0}}
		     {{if eq .To "pdf"}}
		    	<embed src="data:application/pdf;base64,{{.Result.Data | base64Encode}}" type="application/pdf" width="100%" height="100%"/>
		     {{ end }}
		 {{else}}
			{{ .Message }}
	     {{end}}
 	</body>
</html>